@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/App/**/*';
@source '../../../../resources/views/filament/app/**/*';
@source '../../../../vendor/padmission/data-lens';
@source '../../../../vendor/relaticle/custom-fields/resources';

.h-9 {
    height: 2.25rem;
}
